.graphContainer {
  display: flex;
  flex-flow: column;
  width: 100%;
  gap: 10px;
  margin-bottom: 50px;
}
/* this is for the chart itself to be responsive */
.graph {
  height: 50vh;
  width: 100%;
}
.graph-v8 {
  height: 100vh;
  width: 100%;
}
@media (max-width: 768px) {
  .graph-v8 {
    height: 120vh;
  }
}
.graphDescription {
  font-size: 18px;
}

.description {
  margin: 0;
}

.graphLinks {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link {
  margin: 0;
}
